<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
	<listener class-name="com.mykidsbank.genericUtlity.ListenerImplementation"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.deleteAccount.DeleteDepositAccountsTest"/>
    <class name="com.createAccount.CreateNewDepositAccountTest"/>
    <class name="com.createAccount.ImportDepositAccountsTest"/>
	 <class name="com.depositToAccount.MakeADepositAllAccountsTest"/>
	  <class name="com.depositToAccount.MakeADepositTest"/>
	  <class name="com.withdrawFromAccount.MakeAWithdrawFromAllAccountsTest"/>
	  <class name="com.withdrawFromAccount.MakeAWithdrawTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
